<launch>
    <rosparam file="$(find mybot_hardware_interface)/config/joint_state_controller.yaml" command="load"/>
    <rosparam file="$(find mybot_hardware_interface)/config/diff_drive_controller.yaml" command="load"/>
    <rosparam file="$(find mybot_hardware_interface)/config/joint_limits.yaml" command="load"/>

    <remap from="/mybot/diff_drive_controller/odom" to="/odometry/wheel"/>
    <remap from="/mybot/diff_drive_controller/cmd_vel" to="/cmd_vel"/>

    <node name="mybot_hardware_interface" pkg="mybot_hardware_interface" type="node" output="screen"/>

    <node name="diff_drive_controller_spawner"  pkg="controller_manager"  type="spawner"  output="screen"  args="/mybot/diff_drive_controller" ns="/"/>

    <node name="joint_state_controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" ns="/"
          args="/mybot/joint_state_controller"/>
</launch>
